[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { workspace = true, features = ["full"] }
thiserror = { workspace = true }
reqwest = "0"

proto = { path = "../proto" }
core = { path = "../core" }